<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreExercise</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/limonte-sweetalert2/sweetalert2.css" rel="stylesheet" />
    <!-- 引入Bootstrap字體圖標 -->
    <link rel="stylesheet" href="~/css/bootstrap-icons.css" />
    <style>
        @@media screen and (max-width: 992px) {
            .nav-item {
                background-color: rgba(0, 255, 255, 0.5);
            }

                .nav-item:hover {
                    background-color: rgba(0, 255, 255, 1);
                }

            .dropdown-menu li:hover > a {
                background-color: rgba(0, 255, 255, 1) !important;
            }

            .searchForm {
                margin-top: 10px;
            }
        }
    </style>
    @RenderSection("topCss", required: false)
    <!-- 引入Chart -->
    <script src="~/lib/Chart.js/Chart.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/bootstrap-logo.svg" alt="" width="50" height="40">
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark ms-3" asp-area="" asp-controller="Home" asp-action="Index">首頁</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark ms-3" asp-area="" asp-controller="First" asp-action="Index">第一堂課</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark ms-3 dropdown-toggle" href="#" id="SecondnavbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    第二堂課
                                </a>
                                <ul class="dropdown-menu mt-2" aria-labelledby="SecondnavbarScrollingDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Second" asp-action="Index">IWebHostEnvironment學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Second" asp-action="BootstrapIndex">Bootstrap學習</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark ms-3 dropdown-toggle" href="#" id="ThirdnavbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    第三堂課
                                </a>
                                <ul class="dropdown-menu mt-2" aria-labelledby="ThirdnavbarScrollingDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Third" asp-action="Index">Razor學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Third" asp-action="JsonIndex">JSON學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Third" asp-action="JsonChart">JSONChart學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Third" asp-action="CarSalesAjaxJSON">AJAX呼叫API取回JSON學習</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark ms-3 dropdown-toggle" href="#" id="TagHelpernavbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    TagHelper
                                </a>
                                <ul class="dropdown-menu mt-2" aria-labelledby="TagHelpernavbarScrollingDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-controller="TagHelpers" asp-action="PartialTagHelper">TagHelper學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="TagHelpers" asp-action="SelectTagHelper">Select學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="TagHelpers" asp-action="SelectEnum">Enum學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="TagHelpers" asp-action="SelectOptionGroup">SelectOptionGroup學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="TagHelpers" asp-action="CacheTagHelper">Cache學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="TagHelpers" asp-action="CustomTag">自訂標籤學習</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark ms-3 dropdown-toggle" href="#" id="TagHelpernavbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    HTML Helper
                                </a>
                                <ul class="dropdown-menu mt-2" aria-labelledby="TagHelpernavbarScrollingDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-controller="HtmlHelper" asp-action="Index">HTML Helper學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="HtmlHelper" asp-action="HelpersBootstrap">HelpersBootstrap學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="HtmlHelper" asp-action="EditorFor">EditorFor範例學習</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark ms-3 dropdown-toggle" href="#" id="TagHelpernavbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    ViewComponent
                                </a>
                                <ul class="dropdown-menu mt-2" aria-labelledby="TagHelpernavbarScrollingDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-controller="ViewComponent" asp-action="GetProductList">ViewComponent學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="ViewComponent" asp-action="ListHeros">ViewComponent2學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="ViewComponent" asp-action="ProductListTagHelper">vc標籤學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark ms-3 dropdown-toggle" href="#" id="TagHelpernavbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    相依性注入
                                </a>
                                <ul class="dropdown-menu mt-2" aria-labelledby="TagHelpernavbarScrollingDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-controller="DI" asp-action="Balance">DI注入Controller學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="DI" asp-action="InjectAction">DI注入Action學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="DI" asp-action="InjectView">DI注入View學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="DI" asp-action="InjectZipcodeService">View注入範例學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="DI" asp-action="InjectConfig">View注入Config學習</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark ms-3" asp-area="" asp-controller="Friends" asp-action="Index">Controller學習</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark ms-3" asp-area="" asp-controller="AdditionalLearn" asp-action="Index">額外學習</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-nav ms-auto searchForm">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="搜尋" aria-label="Search">
                            <button class="btn btn-success text-nowrap" type="submit">搜尋</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    @RenderSection("Scripts", required: false)

    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            alert('@Html.Raw(TempData["message"])');
        </script>
    }
    @RenderSection("endJS", required: false)
</body>
</html>
