@inject Microsoft.Extensions.Configuration.IConfiguration config
@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron alert-success">
    <h2>Razor語法規則</h2>
</div>
@{
    var Name = "Kevin";
    var Height = 180;
    var Weight = 75;
}
<!--4.Inline Expression-->
<code>
    <p>var Name = "Kevin";</p>
    <p>var Height = 180;</p>
    <p>var Weight = 75;</p>
    <p>我的名字: @@Name </p>
    <p>我的身高: @@Height </p>
    <p>我的體重: @@Weight </p>
    <p>@@((DateTime.Now - TimeSpan.FromDays(4)).ToShortDateString()) </p>
</code>
<p>我的名字: @Name </p>
<p>我的身高: @Height </p>
<p>我的體重: @Weight </p>
<p>@((DateTime.Now - TimeSpan.FromDays(4)).ToShortDateString()) </p>

<div class="jumbotron alert-success">
    <h2>if...else條件判斷式</h2>
</div>
<code>
    <p>@@{ var score = 96;}</p>
    <p>@@if (score > 60)</p>
    <p>{</p>
    <p>@@(score)分：成績不及格</p>
    <p>}</p>
    <p>else</p>
    <p>{</p>
    <p>@@(score)分：成績及格</p>
    <p>}</p>
</code>
@{ var score = 96;}
@if (score > 60)
{
    <p>@(score)分：成績不及格</p>
}
else
{
    <p>@(score)分：成績及格</p>
}


<div class="jumbotron alert-success">
    <h2>RenderSection搭配section</h2>
</div>
@{ var html =
      @"@section topCss{
<style>
body {
font - size: 2rem;
}
</style>
}";
}
<code>
    @html
</code>
@section topCss{
    <style>
        body {
            font-size: 2rem;
        }
        p {
            text-indent: 2em;
        }
    </style>
}

<div class="jumbotron alert-success">
    <h2>@@functions</h2>
</div>
<code>
@@functions
{
    <p>public string Name = "聖殿祭司";</p>

    <p>public string RealName { get; } = "奚江華";</p>

    <p>public string GetPhoneNumber() { return "0925-123-123"; }</p>

    <p>public string BookTitle() { return @@config["Book:Title"] ?? "查無資料"; }</p>
}
</code>
@functions
{
    public string Name = "聖殿祭司";

    public string RealName { get; } = "奚江華";

    public string GetPhoneNumber()
    {
        return "0925-123-123";
    }

    public string BookTitle()
    {
        return @config["Book:Title"] ?? "查無資料";
    }
}

<h2>書名 : @BookTitle()</h2>
<p>筆名 : @Name</p>
<p>姓名 : @RealName</p>
<p>電話 : @GetPhoneNumber()</p>